@font-face {
  font-family: "JetBrains Mono";
  src: url('./assets/fonts/static/JetBrainsMono-Bold.ttf');
}

/* ---------------
  Variables
--------------- */

$clr-neon-green: #A4FFAF;
$clr-yellow: #F8CD65;
$clr-orange: #FB7C58;
$clr-red: #F64A4A;
$clr-dark-gray: #24232C;
$clr-gray: #817D92;
$clr-almost-white: #E6E5EA;
$clr-very-dark-gray: #18171F;

$fs-heading-l: 2rem;
$fs-heading-m: 1.5rem;
$fs-body-m: 1.125rem;

$padding-mobile-default: 1rem;
$padding-desktop-default: 1.125rem 2rem;
$padding-desktop-large: 1.5rem 2rem 2rem;

/* ---------------
  Mixin
--------------- */

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin slider-thumb {
  width: 28px;
  height: 28px;
  background: $clr-almost-white;
  border: 2px solid $clr-almost-white;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  box-sizing: border-box;
}

@mixin slider-thumb-hover {
  background: $clr-very-dark-gray;
  border: 2px solid $clr-neon-green;
}

@mixin lvl-block-size {
  width: 10px;
  height: 28px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  display: grid;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #08070B;
  user-select: none;
}

h4 {
  margin: 0;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

/* ---------------
  Scrollbar
--------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $clr-dark-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $clr-very-dark-gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $clr-neon-green;
}


/* ---------------
  Utility
--------------- */

.hide {
  display: none;
}

.opacity-0 {
  opacity: 0;
}